:root {
	--Arimo: 'Arimo', sans-serif;
	--Hind: 'Hind', sans-serif;
	--bG-cc1: #FEC845;
	--fG-cc1: #65065A;
	--bG-cc2: #E1DCE3;
	--fG-cc2: #271764;
	--bG-cc3: #E4A824;
	--fG-cc3: #242424;
	--bG-cc4: #E5EDB7;
	--fG-cc4: #642626;
}